In [3]:
laptop1 = int(input('Enter the price of laptop : '))
laptop2 =int(input('Enter the price of laptop : '))
laptop3 = int(input('Enter the price of laptop : '))
laptop4 =int(input('Enter the price of laptop : '))
laptop5 = int(input('Enter the price of laptop : '))

Enter the price of laptop : 2
Enter the price of laptop : 3
Enter the price of laptop : 4
Enter the price of laptop : 5
Enter the price of laptop : 6

In [5]:
for i in range(5): #range 5 --> 0,1,2,3,4
    int(input('Enter the price of laptop: '))

Enter the price of laptop: 2
Enter the price of laptop: 3
Enter the price of laptop: 4
Enter the price of laptop: 5
Enter the price of laptop: 6

In [6]:
my_list = [50,100,20,90,900]

print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])

50
100
20
90
900

In [11]:
for i in my_list: #one by one element is picked up
    print(i*2)

100
200
40
180
1800

In [16]:
for i in range(len(my_list)): #range of 5
    print(i)

0
1
2
3
4

While loop

In [17]:
i = 0

while i <10: #until condition is satisfied
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [18]:
i = 5

while i < 3: #codition not satisified
    print(i)
    i += 1

In [22]:
for i in range(10):
    print('Programming') #print 9 times

Programming
Programming
Programming
Programming
Programming
Programming
Programming
Programming
Programming
Programming

In [2]:
for i in range(10):
    print('Nidhi')

Nidhi
Nidhi
Nidhi
Nidhi
Nidhi
Nidhi
Nidhi
Nidhi
Nidhi
Nidhi

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
def factorial(num):

    factorial =1
    
    if num==0:
        print(factorial)
        
    else:
        for i in range(1,num+1):
            factorial = factorial*i
        print(factorial)

In [23]:
factorial(5)

120

In [25]:
import numpy as np

In [28]:
[3,4,5].append(8)

In [30]:
a = [4,6,7,2,6]
a.append(10)

In [34]:
list(map(lambda x: x**2, a))

[16, 36, 49, 4, 36, 100]