Basic Data Types:
1. Integer
2. Float
3. Complex
4. Boolean
5. String

Integer

In [4]:
a = 10
print(a)
type(a)

10

int

Float

In [5]:
b = 10.0
print(b)
type(b)

10.0

float

In [7]:
#converting one data type to another
c = float(a)
c
type(c)

float

In [10]:
d = int(5.8493)
print(d)
type(d)

5

int

Complex

In [12]:
e = 3 + 4j 
type(e)

complex

In [13]:
f = float(e)
type(f)

TypeError: can't convert complex to float

Boolean

In [14]:
a = True
print(a)
type(a)

True

bool

In [15]:
b = False
type(b)

bool

In [17]:
a = 5>3
type(a)

bool

In [18]:
type(5 ==6)

bool

String

In [19]:
my_string = 'Machinelearning'
type(my_string)

str

In [23]:
my_string*4

'MachinelearningprogrammingMachinelearningprogrammingMachinelearningprogrammingMachinelearningprogramming'

In [24]:
my_string + 'b'

'Machinelearningprogrammingb'

In [26]:
word1 = 'Nidhi '
word2 = 'Gupta'

word1 + word2

'Nidhi Gupta'

Slicing and Indexing

In [20]:
my_string[1:9] #starts with 0 and excludes last index

'achinele'

In [22]:
my_string[1:9:2] #steps of 2

'ahnl'

Special Data Types :
1. List
2. Tuples
3. Dictionary
4. Sets

Mutuable data types :
1. List
2. Dict
3. Sets

Immutuable data types :
1. String
2. Int
3. Float
4. Boolean
5. Tuple

Lists

In [31]:
my_list = [3,4,5,1]
print(my_list)
type(my_list)

[3, 4, 5, 1]

list

In [32]:
#list can have multiple data types
my_list = [1,2,6.0,'Nidhi']
my_list

[1, 2, 6.0, 'Nidhi']

Lists are mutable -->changeable

In [34]:
my_list.append(5)
my_list

[1, 2, 6.0, 'Nidhi', 5, 5]

In [37]:
#list allow dupliactes 
my_list.append(5)
my_list

[1, 2, 6.0, 'Nidhi', 5, 5, 5, 5, 5]

In [39]:
my_list.remove(5) #it will remove 1st occurence of element specified
my_list

[1, 2, 6.0, 'Nidhi', 5, 5, 5]

In [41]:
del my_list[2] #specify index of element to be deleted
my_list

[1, 2, 5, 5, 5]

In [45]:
my_list.pop(1) #last element 
my_list

[1]

In [49]:
#can perform item assignement
my_list = ['pop', ['mom'], '2',1.0]
my_list[1] = 'nidhi'
my_list

['pop', 'nidhi', '2', 1.0]

In [50]:
#joining two lists to one another
list1 = [2,5,6,7]
list2 = ['pop','mom',9.0]

list1 + list2

[2, 5, 6, 7, 'pop', 'mom', 9.0]

In [82]:
#number of elements in a list
len(my_list)

2

Indexing and Slicing

In [52]:
my_list[0::2]

['pop', '2']

In [58]:
my_list[0]

'pop'

In [64]:
#initiating an empty list
list2 = []
print(list2)

[]

In [65]:
list2.append(8)
list2

[8]

Tuples

In [67]:
my_tuple = (4,5,6,7,8)
my_tuple

(4, 5, 6, 7, 8)

In [70]:
#supports diff data types
my_tuple = (5,6.7,'pop')
my_tuple

(5, 6.7, 'pop')

In [73]:
#allow duplicates
my_tuple = (6,6,77,'nidhi')
my_tuple

(6, 6, 77, 'nidhi')

In [77]:
#converting a lits to a tuple
type(tuple(my_list))

tuple

Indexing and slicing

In [80]:
my_tuple[0:2]

(6, 6)

Tuples --> Immutable

In [84]:
my_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [85]:
my_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [86]:
my_tuple[0] = 'papa'

TypeError: 'tuple' object does not support item assignment

In [87]:
len(my_tuple)

4

Sets

In [89]:
my_set = {3,4,'nidhi'}
my_set #supports diff data types

{3, 4, 'nidhi'}

Sets only allow unique values

In [91]:
my_set = {3,4,4,9}
my_set

{3, 4, 9}

Sets don't supprot indexing

In [92]:
my_set = {3,5,12,'nidhi'}
my_set[0]

TypeError: 'set' object is not subscriptable

In [95]:
#convert a list to set
set(my_list)

{'n', 'pop'}

Sets are Mutable --> changeable

In [104]:
my_set.add(5)
my_set

{3, 5, 12}

In [108]:
my_set.remove(12)

In [109]:
my_set

{3, 5}

In [110]:
my_set[0] = 45
#since set doesn't support indexing, we can't perform item assignment

TypeError: 'set' object does not support item assignment

Dictionary

Key-value mapping pairs

In [112]:
my_dict = {'name': 'Nidhi', 'age':18, 'class': 5}
my_dict

{'name': 'Nidhi', 'age': 18, 'class': 5}

In [113]:
my_dict['name'] #supports indexing

'Nidhi'

In [114]:
my_dict.items()

dict_items([('name', 'Nidhi'), ('age', 18), ('class', 5)])

In [115]:
my_dict.values()

dict_values(['Nidhi', 18, 5])

In [116]:
my_dict.keys()

dict_keys(['name', 'age', 'class'])

In [131]:
my_dict['sex'] ='female' #supports indexing based on keys

In [124]:
my_dict #appending a key-value mapping pair

{'name': 'Nidhi', 'age': 18, 'class': 5, 'sex': 'female'}

In [125]:
del my_dict['sex'] #removing a key value mapping pair

dictionary ---> Mutable (changeable)

In [129]:
my_dict['name'] = 'Dhruv' #updating a key value mapping pair
my_dict

{'name': 'Dhruv', 'age': 18, 'class': 5}

In [130]:
my_dict[0]

KeyError: 0