Print Function

In [1]:
print('Machine learning')

Machine learning

In [2]:
print('Machine learning' + ' course')

Machine learning course

In [3]:
print(5+10)

15

Basic data types :
1. Int
2. Float
3. Str

In [4]:
type(2)

int

In [5]:
type(2.0)

float

In [6]:
type('nidhi')

str

Constants and Variables

In [8]:
superhero = 'Superman'
print(superhero)

Superman

In [9]:
superhero = 'Iron Man'
print(superhero)

Iron Man

In [10]:
marvel_superhero = 'Cat woman'
print(marvel_superhero)

Cat woman

Input Function

In [11]:
#when we want some inputs from users
number1 = input('Enter Number 1 : ')
number2 = input('Enter Number 2 : ')

Enter Number 1 : 23
Enter Number 2 : 23

In [12]:
number1 = input('Enter Number 1 : ')
number2 = input('Enter Number 2 : ')

print(number1 + number2)
#input func converts everythng in it string

Enter Number 1 : 23
Enter Number 2 : 23
2323

In [13]:
type(input('Enter Number 1 : '))

Enter Number 1 : 23

str

In [14]:
number1 = int(input('Enter Number 1 : '))
number2 = int(input('Enter Number 2 : '))

print(number1 + number2)

Enter Number 1 : 23
Enter Number 2 : 23
46

Chnaging data types

In [16]:
number1 = 45
print(type(str(number1)))
print(type(float(number1)))

<class 'str'>
<class 'float'>