In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [20]:
diabetes_df = pd.read_csv('diabetes.csv')

In [21]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
diabetes_df['Outcome'].value_counts()  #unbalaced

0    500
1    268
Name: Outcome, dtype: int64

In [30]:
diabetes_df.groupby('Outcome').mean() #but no such change in mean

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [14]:
diabetes_df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [22]:
Y = diabetes_df['Outcome']
X = diabetes_df.drop('Outcome', axis =1 )

In [24]:
print(X.shape, Y.shape)

(768, 8) (768,)

Value range between column values is very wide so we need to standarise the data

In [33]:
scalar = StandardScaler()

In [37]:
scalar.fit(X)

StandardScaler()

In [39]:
standarised_data = scalar.transform(X)

In [40]:
standarised_data.std()

1.0

In [41]:
X = standarised_data
Y = diabetes_df['Outcome']

Splitting the data

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 2)

In [43]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(614, 8) (154, 8) (614,) (154,)