In [6]:
!pip3 install tabulate

Looking in indexes: https://ci-repo.aexp.com/repository/pypi/simple
Collecting tabulate
  Downloading https://ci-repo.aexp.com/repository/pypi/packages/tabulate/0.9.0/tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tabulate import tabulate

In [2]:
NonCBS = pd.read_csv('PendingSheet_NonCBS.csv')

In [3]:
NonCBS.head(5)

,Number,Updated,Created,Email,Assigned to,State,Assignment group,Opened_Month,Pending Since,Executioner,New_Executioner
0,INC022388327,2023-02-08 20:56:16,2022-11-22 15:55:24,Beatrice.S.Andrade@aexp.com,Shashi Kota,In Progress,Acquisition_Go2_Development,NOV'2022,70,Shweta Singh,Shweta Singh
1,INC022793306,2023-02-10 19:48:29,2023-01-27 22:44:55,Arun.C.Kammari@aexp.com,Arun C Kammari,In Progress,AIDA_ENG,JAN'2023,22,Rohan Sarkar,Srishti Pandey
2,INC022691524,2023-01-24 17:41:41,2023-01-13 17:23:49,Mayank.X.Sharma@aexp.com,Sakshi Agrawal,In Progress,Auth_Cornerstone_Supp,JAN'2023,32,Rohan Sarkar,Nidhi Gupta
3,INC022655425,2023-01-10 09:22:48,2023-01-09 11:34:41,PRANJAL.R.AGARWAL@aexp.com,Sakshi Agrawal,In Progress,Auth_Cornerstone_Supp,JAN'2023,36,Rohan Sarkar,Nidhi Gupta
4,INC022410052,2023-01-23 09:01:20,2022-11-25 12:55:09,SASWAT.GUPTA@aexp.com,Harsh Shrivastav,In Progress,Auth_Cornerstone_Supp,NOV'2022,67,Rohan Sarkar,Nidhi Gupta

In [4]:
#Requiredcolumns = ['Number', 'Created', 'Opened_month', 'Comments']
NonCBS['Comments'] = 'No update since' + ' ' + NonCBS['Updated']

In [5]:
NonCBS[['Number', 'Created', 'Opened_Month', 'Comments']]

,Number,Created,Opened_Month,Comments
0,INC022388327,2022-11-22 15:55:24,NOV'2022,No update since 2023-02-08 20:56:16
1,INC022793306,2023-01-27 22:44:55,JAN'2023,No update since 2023-02-10 19:48:29
2,INC022691524,2023-01-13 17:23:49,JAN'2023,No update since 2023-01-24 17:41:41
3,INC022655425,2023-01-09 11:34:41,JAN'2023,No update since 2023-01-10 09:22:48
4,INC022410052,2022-11-25 12:55:09,NOV'2022,No update since 2023-01-23 09:01:20
...,...,...,...,...
104,INC020667497,2022-04-21 16:40:48,APR'2022,No update since 2022-07-20 21:44:06
105,INC022659752,2023-01-09 21:22:03,JAN'2023,No update since 2023-01-23 16:46:48
106,INC022511165,2022-12-12 18:27:53,DEC'2022,No update since 2023-01-16 21:01:00
107,INC022379670,2022-11-21 13:31:08,NOV'2022,No update since 2022-12-07 11:08:13
108,INC022440414,2022-11-30 17:25:11,NOV'2022,No update since 2023-01-26 03:43:04

In [6]:
final_email = NonCBS[['Number', 'Created', 'Opened_Month', 'Comments']]

In [7]:
final_email

,Number,Created,Opened_Month,Comments
0,INC022388327,2022-11-22 15:55:24,NOV'2022,No update since 2023-02-08 20:56:16
1,INC022793306,2023-01-27 22:44:55,JAN'2023,No update since 2023-02-10 19:48:29
2,INC022691524,2023-01-13 17:23:49,JAN'2023,No update since 2023-01-24 17:41:41
3,INC022655425,2023-01-09 11:34:41,JAN'2023,No update since 2023-01-10 09:22:48
4,INC022410052,2022-11-25 12:55:09,NOV'2022,No update since 2023-01-23 09:01:20
...,...,...,...,...
104,INC020667497,2022-04-21 16:40:48,APR'2022,No update since 2022-07-20 21:44:06
105,INC022659752,2023-01-09 21:22:03,JAN'2023,No update since 2023-01-23 16:46:48
106,INC022511165,2022-12-12 18:27:53,DEC'2022,No update since 2023-01-16 21:01:00
107,INC022379670,2022-11-21 13:31:08,NOV'2022,No update since 2022-12-07 11:08:13
108,INC022440414,2022-11-30 17:25:11,NOV'2022,No update since 2023-01-26 03:43:04

In [8]:
import win32com.client as win32
olApp = win32.Dispatch('Outlook.Application')
olNS = olApp.GetNamespace('MAPI')

Rebuilding cache of generated files for COM support...
Checking 00062FFF-0000-0000-C000-000000000046x0x9x6
Could not add module (IID('{00062FFF-0000-0000-C000-000000000046}'), 0, 9, 6) - <class 'AttributeError'>: module 'win32com.gen_py.00062FFF-0000-0000-C000-000000000046x0x9x6' has no attribute 'CLSIDToClassMap'
Done.

In [9]:
html_table = final_email.to_html(index = False)

mail_item = olApp.CreateItem(0)
mail_item.Subject = "Pending CBS INCIDENTS"
mail_item.BodyFormat = 1
mail_item.Body = """

Below incident is pending with your workgroup for long however we do not see any recent progress on the same. Request you to help us with the updates on these issues

"""
mail_item.HTMLBody =   """ 
<html>
<body>
<p>Please find below the data from the CSV file:</p>
{}
</body>
</html>
""".format(html_table)

mail_item.Sender = 'nidhi.gupta16@aexp.com'
mail_item.To = 'nidhi.gupta16@aexp.com'
mail_item.Display()
mail_item.Save()
mail_item.Send()

In [157]:
#mail_item = olApp.CreateItem(0)
#mail_item.Subject = "Pending CBS INCIDENTS"
#mail_item.BodyFormat = 1
#mail_item.Body = '''Hi Team,

#Below incident is pending with your workgroup for long however we do not see any recent progress on the same. Request you to help us with the updates on these issues.

#''' +   tabulate(mydata, headers=head, tablefmt="plain")

#mail_item.Sender = 'nidhi.gupta16@aexp.com'
#mail_item.To = 'Suyash.Jain4@aexp.com'
#mail_item.Display()
#mail_item.Save()
#mail_item.Send()

In [158]:
#print(tabulate(mydata, headers=head, tablefmt="grid"))

In [159]:
#Number = mydata['Number'].to_frame().reset_index(drop = True).head(1)
#Created = mydata['Created'].reset_index(drop = True).head(1)
#Opened_Month = mydata['Opened_Month'].reset_index(drop= True).head(1)
#Comments = mydata['Comments'].reset_index(drop = True).head(1)


#mail_item = olApp.CreateItem(0)
#mail_item.Subject = "Pending CBS INCIDENTS"
#mail_item.BodyFormat = 1
#mail_item.Body = """

#Below incident is pending with your workgroup for long however we do not see any recent progress on the same. Request you to help us with the updates on these issues

#"""
#mail_item.HTMLBody = '''<html>
#<head>
#<style>
#table, th, td{
 # border: 1px;
  #border-collapse: collapse;
#}
#</style>
#</head>
#<body>

#<table>
 # <tr>
  #  <th>Number</th>
   # <th>Created</th>
    #<th>Opened_Month</th>
    #<th>Comments</th>
  #</tr>
  #<tr>
   # <td>{Number}</td>
    #<td>{Created}</td>
    #<td>{Opened_Month}</td>
    #<td>{Comments}</td>
  #</tr>
  #<tr>
   # <td>February</td>
    #<td>$80</td>
 # </tr>
#</table>

#</body>
#</html>'''.format(Number = Number,Created = Created,Opened_Month = Opened_Month,Comments = Comments)


#mail_item.Sender = 'nidhi.gupta16@aexp.com'
#mail_item.To = 'Suyash.Jain4@aexp.com'
#mail_item.Display()
#mail_item.Save()
#mail_item.Send()

In [ ]:
# import module
#from tabulate import tabulate
 
# assign data
#mydata = final_email
 
# create header
#head = final_email.columns
 
# display table
#print(tabulate(mydata, headers=head, tablefmt="grid"))